* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.4vw;
}

body {
  margin: 50px;
  background-color: #C2581F;
}

.back-cta button {
  border: none;
  border-radius: 50px;
  padding: 15px;
  margin-top: -60px;
  margin-left: -15px;
  background-color: #f6e8d1;
}

.back-cta button:hover {
  background-color: #3F1B11;
} 

.box-border {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f6e8d1;
  border-radius: 0.5vw;
  margin: 5vw;
  margin-top: -5px;
}

.header {
  height: 80px;
  width: 70%;
  background-color: #C2581F;
  border-radius: 3px;
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.header img {
  background-color: #f6e8d1;
  border-radius: 100px;
  width: 9%;
  height: auto;
}

.header .title {
  font-size: 2.2vw;
  font-weight: bold;
  color: #f6e8d1;
}

.cart {
  display: flex;
  background-color: #f6e8d1;
  justify-content: space-between;
  align-items: center;
  padding: 7px 10px;
  border-radius: 3px;
  width: 80px;
}

.fa-solid {
  color: #C2581F;
}

.cart p {
  height: 22px;
  width: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22px;
  background-color: #C2581F;
  color: #f6e8d1;
}

.container {
  display: flex;
  width: 70%;
  margin-bottom: 30px;
}

#root {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 1vw;
}

.sidebar {
  width: 40%;
  border-radius: 5px;
  background-color: #eee;
  margin-left: 20px;
  padding: 15px;
  text-align: center;
}

.head {
  background-color: #C2581F;
  border-radius: 3px;
  height: 40px;
  padding: 10px;
  margin-bottom: 20px;
  color: #fff;
  display: flex;
  align-items: center;
}

.foot {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 10px 0px;
  border-top: 1px solid black;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #C2581F;
  border-radius: 5px;
  padding: 15px;
}

.img-box {
  width: 100%;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
  object-position: center;
}

.bottom {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}

h2 {
  font-size: 20px;
  color: red;
}

.btn2 {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 5px;
  background-color: #C2581F;
  padding: 7px 25px;
  cursor: pointer;
  color: #fff;
}

.btn2:hover {
  background-color: #3F1B11;
  color: #f6e8d1;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #aaa;
  border-radius: 3px;
  margin: 10px 10px;
}

.row-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #C2581F;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rowing {
  max-width: 43px;
  max-height: 43px;
  border-radius: 50%;
}

.fa-trash:hover {
  cursor: pointer;
  color: #333;
}

.order {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  width: 80%;
}

.order:hover {
  background-color: rgba(94, 221, 115, 0.8)
}

.checkout {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
  padding-left: 280px;
}

.row {
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%; 
  flex: 50%;
  padding: 0 16px;
}

.col-50 h3 {
  font-size: 2.3vw;
  padding-bottom: 3vw;
}

.col-75 {
  -ms-flex: 75%; 
  flex: 75%;
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #ffffff;
  font-size: 3.5vw;
  font-weight: bold;
  margin-top: 0.5vw;
}

.close:hover {
  color: red;
  cursor: pointer;
}